@import 'fonts';
@import 'variables';
@import 'libs/normalize';

body {
  background: $background;
  color: #ffffff;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 100vh;
}

.wrapper {
  max-width: 1260px;
  padding-left: 30px;
  padding-right: 30px;
  margin: auto;
  @include sm_block {
    padding-left: 15px;
    padding-right: 15px;
  }
}
hr {
  background: #ffffff;
  height: 2px;
  width: 100%;
}

@import 'components/all';

.titleBlock {
  font-size: 56px;
  line-height: 1.2em;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}

.button {
  display: block;
  border-radius: 50px;
  background: #ffffff;
  padding: 6px 22px;
  font-size: 22px;
  font-weight: 700;
  transition: all 0.12s ease-in-out;
  &:hover {
    background: #000;
    color: #ffffff;
    border: 2px solid #ffffff;
  }
  &:active {
    transform: translateY(4px);
  }
  &--square {
    border-radius: 0px;
    width: 100%;
    text-align: center;
  }
}

.loadingText {
  text-align: center;
}
